# This file contains all the requirements for PyToDa

# dependencies from conda environment.yml
numba==0.59.1
numpy==1.26.4

# remaining requirements
isort
munch
pdoc3
pint
pre-commit
pyfiglet
pytest-cov
pyyaml
